body {
  background-color: whitesmoke;
}
.game-board {
  margin: 100px 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  border: 4px solid black;
}

.pc-section,
.player-section {
  width: 100%;
  text-align: center;
}

.center-section {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.pc-cards,
.player-cards {
  display: inline-block;
}

img {
  width: 100px;
  height: 150px;
}
